<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.todo.mapper.TodoMapper">
	<select id="selectAll" resultType="com.boot.todo.entity.Todo">
		select * from items
	</select>

	<select id="selectIncomplete" resultType="com.boot.todo.entity.Todo">
		select * from items where flg = 0
	</select>

	<select id="selectComplete" resultType="com.boot.todo.entity.Todo">
		select * from items where flg = 1
	</select>

	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.boot.todo.entity.Todo">
		insert into items (title, time)
		values (#{title}, to_date(#{time}, 'yy-mm-dd'))
	</insert>

	<update id="update" parameterType="com.boot.todo.entity.Todo">
		update items set
			title = #{title},
			time = to_date(#{time}, 'yy-mm-dd'),
			flg = #{flg}
			where id = #{id}
	</update>

	<delete id="delete" parameterType="com.boot.todo.entity.Todo" >
		delete from items
		where flg = 1
	</delete>
</mapper>