<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css" />
<script src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<title>bootodo</title>
</head>
<body>
	<h1>TodoList</h1>

	<form method="post" th:action="@{/update}" th:each="todo : ${todos}">
		<input type="checkbox" name="flg" value="1" />
		<input type="hidden" name="id" th:value="${todo.id}" />
		<input type="text" name="title" th:value="${todo.title}" />
		<input type="date" name="time" th:value="${todo.time}" />
		<input type="submit" value="更新" />
	</form>

	<h3>完了済み</h3>
	<form method="post" th:action="@{/update}" th:each="todo : ${doneTodos}">
		<input type="checkbox" name="flg" value="1" />
		<input type="hidden" name="id" th:value="${todo.id}" />
		<input type="text" name="title" th:value="${todo.title}" style="text-decoration:line-through" />
		<input type="date" name="time" th:value="${todo.time}" />
		<input type="submit" value="更新" />
	</form>

	<form method="post" th:action="@{/delete}" >
		<input type="submit" value="全削除" />
	</form>

	<h3>新しく追加する</h3>
	<form method="post" th:action="@{/add}">
		<input type="text" name="title" />
		<input type="date" name="time" />
		<input type="submit" value="追加" />
	</form>

	<script type="text/javascript" th:src="@{/js/todo.js}"></script>
</body>
</html>